doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title(v-html="title")
        link(rel="icon" type="image/png" href="#uri:icon.png" sizes="256x256")

        link(rel="stylesheet" href="#uri:font-awesome5.css")
        link(rel="stylesheet" href="#uri:style.css")

        script(type="text/javascript" src="#uri:vue.js")
        script(type="text/javascript" src="#uri:deraner.js")
        script(type="text/javascript" src="#uri:app.js")
    body
        main
            header Test Header
            section Content
            footer A footer