doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Test
        link(rel="icon" type="image/png" href="#uri:icon.png" sizes="256x256")

        link(rel="stylesheet" href="#uri:fa5.css")
        link(rel="stylesheet" href="#uri:style.css")

        script(type="text/javascript" src="#uri:vue.min.js")
        script(type="text/javascript" src="#uri:dwarf.js")
        script(type="text/javascript" src="#uri:deraner.js")
        script(type="text/javascript" src="#uri:app.js")
    body
        h1
            i.fas.fa-user
            div #{template.name}: #{template.env.test}
            div #{env.APP_ENV}