doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        title Test
        link(rel="stylesheet" href="/templates/Ulmenstein/assets/css/style.css")
        script(type="text/javascript" src="/templates/Ulmenstein/assets/js/app.js")
    body
        h1
            i.fas.fa-user